*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A POSTROUTING -s {{ internal_net }}/{{ internal_mask }} -o {{ inet_iface }} -j SNAT --to-source {{ inet_ip }}
COMMIT
